body {
    margin: 0;
    padding: 0;
}

/* .container{
    height: 100vh;
    width: 100%;
    background-image: url(/bg.jpg);
    background-position:center ;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    opacity: 80%;
} */

.container .image {
    height: 80vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.container .image img {
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(232, 180, 117);
    width: 100%;
    position: absolute;
    top: 0;
    /* opacity:50%; */
    /*margin: 10px auto;*/

}

.navbar ul {
    list-style: none;
    width: 100%;
    display: flex;
    margin-left: 35%;
    
    /* position: relative;
    margin: 0;
    padding: 0; */



}

.navbar ul li {
    list-style: none;
    margin: 0 30px;
    padding: 15px 0;
    /* min-width: 100px;
    line-height: 40px;
    text-align: center;
    display: block; */


}

ul ul {
    position: absolute;
    left: 0;
    background-color: #8a8a8a;
    color: #000;
    display: none;
}

ul li:hover ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navbar a {
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(19, 2, 2);
}

.navbar a:hover {
    color: rgb(107, 164, 27);
    border-bottom: 2px solid red;

}

.icons {
    font-size: 2 rem;
    margin-left: 1 rem;
    color: black;
    display: flex;
    cursor: pointer;
    min-width: 80px;
    
    align-items: center;
    flex-direction: row;
    font-size: 24px;
    padding-right: 30px;

}

.icons div:hover {
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 1rem 3 rem;
}

 .box{
    background-color: #fff;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 25px ;
    margin-top: 15px;
    margin-right: 12px;
 }
 
 input{
    width: 100px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
 }

.fa-search:hover{
   color:blueviolet;
   cursor: pointer;
}



 .content {
    position: absolute;
    top: 40%;
    left: 10%;
}

.content h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: rgb(101, 5, 5);
}

.content p {
    font-size: 20px;

    color: rgb(5, 73, 50);
}

.content .btn {
    display: inline-block;
    background: linear-gradient(45deg, yellow, green);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgb(200, 244, 249);

}


/*======== catagories======== */
.categories {
    margin: 70px 0;
}

/* .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20%;
    margin-bottom: 30px;
}
.box-1{
    height: 400px;
    width: 30%;
    border: 1px solid black;
    background-color: white;

} */

/* .box-1{

    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.box-1 img{
    width: 50%;
}

.box{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
 */

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;

}

.col-1 {
    flex-basis: 55%;
    padding: 10px;
    min-height: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;

}

.col-1 img {
    width: 300px;
    height: 300px;


}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-1 p {
    font-size: 14px;
}

.col-1:hover {
    transform: translateY(-5px);
}

/* ======footer======== */

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 18spx;
    padding: 60px 0 20px;


}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 25px;

}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2,
.footer-col-3,
.footer-col-4 {
    display: flex;
    flex-direction: column;

}

.footer-col-2 a,
.footer-col-3 a,
.footer-col-4 a {
    color: white;
    text-decoration: none;
}